# Compiled Python files
*.pyc
__pycache__/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/
*.pyo

# Virtual environment
venv/

# Tests
test/

# Config Files
*.ini
*.cfg

# Database
*.db

# Dev Crap
devlog.txt
notes.txt

# Alembic stuff
alembic/versions/*
alembic/env.py
alembic/README
alembic/script.py.mako
alembic.ini